.form-heading {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.contact-form-container {
  top: -6em;
  position: relative;
  padding: 3rem 1.9rem;
  color: white;
  line-height: 1.5em;
  width: 400px;
  background: rgba(21, 47, 46, 1);
}

.form-description {
  margin: 10px;
  text-align: center;
}

.Contact-form {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  justify-content: center;
}

.input-field {
  padding: 10px;
  margin: 10px;
  height: 3em;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
}

.submit {
  padding: 12px;
  border-radius: 6px;
  margin: 8px;
  background-color: rgba(0, 194, 197, 1);
  font-weight: bold;
  color: white;
  font-size: 1.2em;
  margin-top: 1em;
  display: inline-block;
}
